.preview__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.preview__title {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.preview__slogan {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
