.add__layout {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.add__label {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-left: 46px;
  margin-bottom: 24px;
  color: $basic_color;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0%;
    top: -5px;
    border: 1px solid $checkbox_color;

    @include size (30px);
  }

  @media (min-width: $tablet-width) {
    min-width: 273px;
    padding-left: 59px;
    margin-bottom: 42px;
    margin-right: 16px;

    &::before {
      @include size (40px);
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 226px;
    margin-right: 19px;
  }
}

// Pixel perfect
.add__label:first-of-type {
  margin-bottom: 25px;
}
//

.add__input:checked + .add__label::before {
  background: url("../img/check.svg") no-repeat center;
  background-size: 19px 15px;

  @media (min-width: $tablet-width) {
    background-size: 25px 20px;
  }
}

.add__input:hover + .add__label::before {
  border: 1px solid $checkbox_hover_color;
}

.add__input:disabled + .add__label {
  opacity: 0.3;

  &::before {
    border: 1px solid $checkbox_hover_color;
  }
}

.add__input:active + .add__label::before,
.add__input:focus + .add__label::before {
  border: 2px solid $special_1_color;
}
