.button {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  width: 280px;
  text-align: center;
  height: 40px;
  line-height: 18 * $line-height;
  color: $background_special_2;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $background;
}

.button--disabled {
  background-color: $background_special;
  color: $special_1_color;
}
