.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;

  color: $background_special_2;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $background;

  @include size (280px, 40px);
  @include font ($secondary-main-size, ceil(1.25 * $secondary-main-size));
}

.button--disabled {
  background-color: $background_special;
  color: $special_1_color;
}
