.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  min-height: 40px;
  padding: 7px 44px;

  color: $main_theme_color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $background;

  @include font ($secondary-main-size, ceil(1.25 * $secondary-main-size));

  &:hover {
    background-color: $background_button;
  }

  &:active {
    background-color: $background_button;
    color: $button_special_1_color;
  }
}

.button--disabled {
  background-color: $background_special;
  color: $special_1_color;
  padding: 7px 35px;

  @media (min-width: $desktop-width) {
    margin-bottom: 3px;
  }

  &:hover {
    background-color: $catalog-border-color;
  }

  &:active {
    background-color: $catalog-border-color;
    color: $button_special_2_color;
  }
}
