.catalog__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    min-width: 708px;
    width: 92.2%;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 141px;

    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-column-gap: 80px;
    grid-row-gap: 143px;

    margin-bottom: 75px;
  }
}

.catalog__item {
  position: relative;

  &:nth-of-type(2n+1) {
    .catalog-item__link {
      top: 46px;
      left: 17.4%;

      @media (min-width: $tablet-width) {
        top: -47px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      @media (min-width: $desktop-width) {
        top: -54px;
      }
    }

    .catalog-item__img {
      @include size (68px, 78px);

      @media (min-width: $tablet-width) {
        @include size (163px, 174px);
      }
    }
  }

  &:nth-of-type(2n) {
    .catalog-item__link {
      top: 30px;
      left: 15%;

      @media (min-width: $tablet-width) {
        top: -73px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      @media (min-width: $desktop-width) {
        top: -80px;
        left: 51%;
      }
    }

    .catalog-item__img {
      @include size (84px, 101px);

      @media (min-width: $tablet-width) {
        @include size (168px, 200px);
      }

      @media (min-width: $desktop-width) {
        @include size (172px, 196px);
      }
    }
  }

  &:nth-of-type(2) {
    .catalog-item__img {
      @media (min-width: $tablet-width) {
        @include size (168px, 206px);
      }

      @media (min-width: $desktop-width) {
        @include size (172px, 202px);
      }
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      border: 2px solid $background_special;
    }

    .catalog-item {
      padding-top: 25px;

      @media (min-width: $tablet-width) {
        padding-top: 52px;
        padding-bottom: 36px;
        padding-left: 36px;
        padding-right: 36px;
        background-color: $main_theme_color;
      }

      @media (min-width: $desktop-width) {
        padding-top: 50px;
      }
    }

    .catalog-item__name {
      margin: 0 auto;
      width: auto;
      text-align: center;

      @media (min-width: $tablet-width) {
        width: 134px;

        @include font ($title-size-smaller, ceil(1.1 * $title-size-smaller));
      }

      @media (min-width: $desktop-width) {
        padding-right: 4px;
      }
    }
  }

  &:first-child {
    .catalog-item__link {
      top: 33px;

      @media (min-width: $tablet-width) {
        top: -45px;
      }

      @media (min-width: $desktop-width) {
        top: -52px;
      }
    }

    .catalog-item__img {
      @include size (68px, 86px);

      @media (min-width: $tablet-width) {
        @include size (161px, 172px);
      }
    }
  }

  .catalog-item--rice {
    .catalog-item__link {
      top: 43px;
      left: 17%;

      @media (min-width: $tablet-width) {
        top: -47px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      @media (min-width: $desktop-width) {
        top: -54px;
      }
    }

    .catalog-item__img {
      @include size (72px, 84px);

      @media (min-width: $tablet-width) {
        @include size (163px, 174px);
      }
    }
  }
}
