.catalog-item {
  padding-top: 20px;
  padding-bottom: 25px;
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    min-width: 280px;
    width: 87.5%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0%;
      left: 0%;
      background-color: $catalog-border-color;

      @include size (100%, 1px);
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 426px;
    height: 100%;
    padding-top: 161px;
    padding-bottom: 39px;
    padding-left: 38px;
    padding-right: 37px;

    background-color: $background_special;

    &--rice {
      padding-left: 37px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 163px;
    padding-bottom: 40px;
    padding-right: 37px;
    padding-left: 38px;
  }
}

.catalog-item__link {
  position: absolute;
  text-decoration: none;
}

.catalog-item__name {
  display: block;
  margin: 0;
  margin-left: 50%;
  text-transform: uppercase;
  color: $special_2_color;
  text-decoration: none;

  @include size (76px, auto);
  @include font ($secondary-main-size, ceil(1.25 * $secondary-main-size));

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: auto;
    text-align: center;
    display: block;

    @include font ($title-size-smaller, ceil(1.2 * $title-size-smaller));

    & span {
      display: block;
      padding-left: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 5px;

    @include font ($title-size-smaller, ceil(1.05 * $title-size-smaller));
  }
}

.catalog-item__features-table {
  display: block;
  margin-left: 50%;
  margin-top: 14px;
  margin-bottom: 22px;

  border-collapse: collapse;

  color: $special_1_color;

  @include font ($main-size-small, ceil(1.33 * $main-size-small), 400, $text_font);

  &__column-1 {
    min-width: 70px;
  }

  &__column-2 {
    text-align: right;
    min-width: 68px;

    &.catalog-item__features-table__column-2--weight {
      padding-right: 3px;
    }
  }

  td {
    width: 100%;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: (21px - 8);
    margin-bottom: 33px;
    min-width: 169px;
    width: 100%;

    @include font ($secondary-main-size, $secondary-main-size, 400, $text_font);

    tr {
      border-bottom: 1px solid $checkbox_color;
    }

    td {
      padding-top: 8px;
      padding-bottom: 7px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
    padding-left: 3px;

    &__column-2 {
      &.catalog-item__features-table__column-2--weight {
        padding-right: 2px;
      }
    }
  }
}

.catalog-item__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-left: 1px;
    width: 99.5%;
  }

  @media (min-width: $desktop-width) {
    width: 99%;
  }
}

.catalog-item__plus {
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;

  @include size (30px);

  & svg {
    @include size (30px);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;

    @include size (60px);

    & svg {
      @include size (60px);
    }
  }
}

.catalog-item__text {
  margin-top: 8px;
  margin-bottom: 21px;
  text-align: center;

  @include font ($main-size-small, ceil(1.33 * $main-size-small), 400, $text_font);

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 24px;
    margin-bottom: 86px;
    margin-left: auto;
    margin-right: auto;
    width: 167px;

    @include font ($secondary-main-size, ceil(1.12 * $secondary-main-size), 400, $text_font);
  }
}
