.copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    text-align: right;
    background-size: 23px 23px;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-top: 7px;
  margin-left: -1px;
  color: $special_1_color;
  text-decoration: none;

  @include font ($secondary-main-size, (1.15 * $secondary-main-size), 400, $text_font);

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}

.copyright__logo {
  @include size (27px, 34px);

  & svg {
    fill: $icon_color;

    &:hover {
      fill: $background;
    }
  }
}
