.description {
  position: relative;
  min-width: 320px;
}

.description__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 280px;
  width: 87.5%;
  padding-top: 27px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    width: 92.2%;
    padding-top: 45px;
    padding-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0%;
      left: 0%;
      background-color: $example_border_color;

      @include size (100%, 1px);
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    width: 1228px;
    padding-left: 4px;

    &::after {
      content: none;
    }
  }
}

.description__title {
  margin: 0;

  @include font ($secondary-title-size, ceil(1.11 * $secondary-title-size));

  @media (min-width: $tablet-width) {
    @include font ($big-title-size);
  }
}

.description__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  margin-top: 38px;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
  }
}

.description__item {
  position: relative;
  padding-left: 80px;
  min-height: 60px;

  color: $special_1_color;

  @include font ($main-size, ceil(1.28 * $main-size), 400, $text_font);

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 249px;
    min-height: 280px;
    padding-right: 75px;

    @include font ($secondary-main-size, ceil(1.5 * $secondary-main-size), 400, $text_font);

    &:nth-of-type(2n + 1) {
      margin-bottom: 37px;
    }

    &:last-child {
      margin-bottom: 47px;
    }

    &::after {
      content: "1";
      position: absolute;
      top: 1px;
      left: 118px;
      color: $background_special;

      @include font (280px, 280px, 400, $basic_font);
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 74px;

    &:nth-of-type(4n) {
      padding-right: 0;
    }

    &:last-child {
      margin-bottom: 69px;
    }
  }

  &--health {
    position: relative;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        background: $background url("../img/bg_description__item--health.png") no-repeat;
        background-size: 60px 60px;

        @include size (60px, 60px);
      }

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          background: $background url("../img/bg_description__item--health@2x.png") no-repeat;
          background-size: 60px 60px;

          @include size (60px, 60px);
        }
      }
    }

    @media (min-width: $tablet-width) {
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        background: $background url("../img/bg_description__item--health_tablet.png") no-repeat;
        background-size: 80px 80px;

        @include size (80px, 80px);
      }

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &::before {
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          background: $background url("../img/bg_description__item--health_tablet@2x.png") no-repeat;
          background-size: 80px 80px;

          @include size (80px, 80px);
        }
      }
    }
  }

  &--fast {
    position: relative;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        background: $background url("../img/bg_description__item--fast.png") no-repeat;
        background-size: 60px 60px;

        @include size (60px, 60px);
      }

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          background: $background url("../img/bg_description__item--fast@2x.png") no-repeat;
          background-size: 60px 60px;

          @include size (60px, 60px);
        }
      }
    }

    @media (min-width: $tablet-width) {
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        background: $background url("../img/bg_description__item--fast_tablet.png") no-repeat;
        background-size: 80px 80px;

        @include size (80px, 80px);
      }

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &::before {
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          background: $background url("../img/bg_description__item--fast_tablet@2x.png") no-repeat;
          background-size: 80px 80px;

          @include size (80px, 80px);
        }
      }

      &::after {
        content: "2";
        left: 111px;
      }

      //pixel-perfect
      & .description__text {
        margin-left: -1px;
      }
    }
  }

  &--change {
    position: relative;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        background: $background url("../img/bg_description__item--change.png") no-repeat;
        background-size: 60px 60px;

        @include size (60px, 60px);
      }

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          background: $background url("../img/bg_description__item--change@2x.png") no-repeat;
          background-size: 60px 60px;

          @include size (60px, 60px);
        }
      }
    }

    @media (min-width: $tablet-width) {
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        background: $background url("../img/bg_description__item--change_tablet.png") no-repeat;
        background-size: 80px 80px;

        @include size (80px, 80px);
      }

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &::before {
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          background: $background url("../img/bg_description__item--change_tablet@2x.png") no-repeat;
          background-size: 80px 80px;

          @include size (80px, 80px);
        }
      }

      &::after {
        content: "3";
        left: 113px;
      }
    }

    //pixel-perfect
    @media (min-width: $desktop-width) {
      & .description__text {
        margin-left: -1px;
      }
    }
  }

  &--result {
    position: relative;

    @media (max-width: $mobile-width-only) {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        background: $background url("../img/bg_description__item--result.png") no-repeat;
        background-size: 60px 60px;

        @include size (60px, 60px);
      }

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          background: $background url("../img/bg_description__item--result@2x.png") no-repeat;
          background-size: 60px 60px;

          @include size (60px, 60px);
        }
      }
    }

    @media (min-width: $tablet-width) {
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        background: $background url("../img/bg_description__item--result_tablet.png") no-repeat;
        background-size: 80px 80px;

        @include size (80px, 80px);
      }

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        &::before {
          content: "";
          position: absolute;
          top: 40px;
          left: 0;
          background: $background url("../img/bg_description__item--result_tablet@2x.png") no-repeat;
          background-size: 80px 80px;

          @include size (80px, 80px);
        }
      }

      &::after {
        content: "4";
        left: 113px;
      }
    }

    //pixel-perfect
    @media (min-width: $desktop-width) {
      & .description__text {
        margin-left: -1px;
      }
    }
  }
}

.description__text {
  padding-top: 2px;
  position: relative;
  z-index: 2;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 152px;
    width: 245px;

    & span {
      display: block;
    }
  }
}
