.example {
  background-color: $example_background;
}

.example__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding-top: 27px;
  padding-bottom: 31px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__title {
  margin: 0;

  @include font ($secondary-title-size, ceil(1.11 * $secondary-title-size));
}

.example__content {
  color: $special_1_color;

  @include font ($main-size, ceil(1.28 * $main-size), 400, $text_font);
}

.example__cost {
  text-align: center;
  text-transform: uppercase;

  @include font ($main-size, ceil(1.42 * $main-size));
}

.example__list-numbers,
.example__list-picture {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example__toggles {
  margin: 0;
}
