.extra__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.extra__title {
  font-size: 24 * $font-size;
  line-height: 24 * $line-height;
  font-weight: 400;
}

.extra__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.extra__gift {
  width: 280px;
  height: 289px;
  background: $background url("../img/bg_extra__gift.png") no-repeat;
  background-size: 280px 289px;
  position: relative;

  font-family: $text_font;
  font-weight: 400;
  font-size: 16 * $font-size;
  line-height: 20 * $line-height;
  color: $background_special_2;

  &::after {
    content: "";
    position: absolute;
    top: 58px;
    left: 101px;
    width: 78px;
    height: 80px;
    background: url("../img/bg_icon_gift.svg") no-repeat;
    background-size: 78px 80px;
  }
}
