.extra__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.extra__title {
  @include font ($title-size);
}

.extra__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.extra__gift {
  background: $background url("../img/bg_extra__gift.png") no-repeat;
  background-size: 280px 289px;
  position: relative;

  color: $background_special_2;

  @include size (280px, 289px);
  @include font ($secondary-main-size, ceil(1.25 * $secondary-main-size), 400, $text_font);

  &::after {
    content: "";
    position: absolute;
    top: 58px;
    left: 101px;

    background: url("../img/bg_icon_gift.svg") no-repeat;
    background-size: 78px 80px;

    @include size (78px, 80px);
  }
}
