.extra-item__name {
  text-transform: uppercase;
  color: $special_2_color;

  @include font ($secondary-main-size);
}

.extra-item__weight,
.extra-item__cost {
  color: $special_1_color;

  @include font ($main-size, $main-size, 400, $text_font);
}
