.form__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__legend {
  @include font ($title-size, ceil(1.08 * $title-size));
}

.form__required {
  text-align: center;

  color: $basic_color;

  @include font ($main-size, ceil(1.14 * $main-size), 400, $text_font);
}

.form__contacts-person,
.form__comment,
.form__add {
  margin: 0;
  padding: 0;
  border-top: 2px solid $background;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.form__contacts-person {
  padding-top: 35px;
}

.form__comment {
  padding-top: 37px;
}

.form__add {
  padding-top: 39px;
}
