.input-text {
  width: 100%;
  padding-top: 13.2px;
  padding-bottom: 13.8px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: $special_1_color;

  @include font ($secondary-main-size, ceil(1.12 * $secondary-main-size));
}
