.label {
  margin-right: 10px;
  text-transform: uppercase;
  color: $special_1_color;

  @include font ($secondary-main-size, ceil(1.12 * $secondary-main-size));

  @media (min-width: $tablet-width) {
    @include font ($title-size-smaller, ceil(1.5 * $title-size-smaller));
  }
}

//pixel perfect
.form__features .label {
  margin-right: 13px;
  padding-bottom: 1px;

  @media (min-width: $tablet-width) {
    margin-right: 16px;
    padding-bottom: 2px;
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 1px;
  }

  &--weight {
    margin-right: 16px;

    @media (min-width: $tablet-width) {
      margin-right: 19px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 20px;
    }
  }

  &--age {
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      margin-right: 16px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 17px;
    }
  }
}

.form__contacts-person .label {
  padding-bottom: 2px;

  &--mail {
    margin-right: 11px;

    @media (min-width: $tablet-width) {
      padding-left: 3px;
      margin-right: 18px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 1px;
      margin-right: 21px;
    }
  }

  &--phone {
    margin-right: 9px;

    @media (min-width: $tablet-width) {
      margin-right: 15px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -2px;
      margin-right: 17px;
    }
  }
}
//

.label--mail svg {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);

  fill: none;

  @include size(19px, 14px);

  @media (min-width: $tablet-width) {
    right: 19px;
    padding-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 2px;
  }
}

.label--phone svg {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translate(0, -50%);

  @include size(20px, 20px);

  @media (min-width: $tablet-width) {
    right: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 2px;
  }
}
