.location__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
}

.location__contacts {
  padding-left: 20px;
  padding-right: 19px;
  padding-top: 28px;
  padding-bottom: 26px;
}

.contacts__text {
  margin: 0;
}

.location__map {
  margin: 0 auto;
  width: 320px;
}
