.location {
  position: relative;
  min-width: 320px;
  background-color: $background_special;

  &--index {
    background-color: $main_theme_color;
  }
}

.location__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 280px;
  width: 87.5%;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    min-width: 626px;
    width: 81.5%;
    padding-top: 63px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-650px, 0);
    top: 95px;
    padding-left: 76px;
    padding-right: 84px;

    min-width: 570px;
    width: 570px;
    min-height: 201px;

    background-color: $main_theme_color;
  }
}

.location__title {
  width: 139px;
  text-align: left;

  text-transform: uppercase;

  @include font ($secondary-main-size, ceil(1.25 * $secondary-main-size));

  @media (min-width: $tablet-width) {
    width: 171px;
    margin-top: 5px;

    @include font ($title-size-smaller);
  }

  & span {
    display: block;

    @media (min-width: $tablet-width) {
      margin-bottom: 5px;
    }
  }
}

.location__text {
  margin: 0;
  width: 140px;
  text-align: left;
  padding-left: 3px;

  color: $special_1_color;

  @include font ($main-size, ceil(1.42 * $main-size), 400, $text_font);

  @media (min-width: $tablet-width) {
    width: 159px;
    margin-bottom: 7px;
    padding-right: 1px;
    text-align: right;

    @include font ($secondary-main-size, ceil(1.25 * $secondary-main-size), 400, $text_font);
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.location__sity {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
    text-align: right;
    display: inline-block;
  }
}

.location__map {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;

  @include size (100%, 362px);

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  &--nojs {
    background: url("../img/location__map-mobile.jpg") no-repeat center center;
    background-size: 320px 362px;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background: url("../img/location__map-mobile@2x.jpg") no-repeat center center;
      background-size: 320px 362px;
    }

    @media (min-width: $tablet-width) {
      background: url("../img/location__map-tablet.jpg") no-repeat center center;
      background-size: 768px 400px;

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        background: url("../img/location__map-tablet@2x.jpg") no-repeat center center;
        background-size: 768px 400px;
      }
    }

    @media (min-width: $desktop-width) {
      background: url("../img/location__map-desktop.jpg") no-repeat center center;
      background-size: 1440px 400px;

      @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
        background: url("../img/location__map-desktop@2x.jpg") no-repeat center center;
        background-size: 1440px 400px;
      }
    }
  }
}
