.main-nav__list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  list-style: none;

  @include font ($main-header-size, $main-header-size, 500);
}

.main-nav__item {
  text-align: center;
}
