.main-nav__toggle {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0;
  display: block;
  background-color: $main_theme_color;
  border: none;
  cursor: pointer;

  @include size (50px, 50px);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 24px;
  right: 20px;
  background-color: $basic_color;
  box-shadow: 0 8px 0 $basic_color, 0 16px 0 $basic_color;

  @include size (24px, 1.5px);
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 32px;
    right: 23px;
    width: 24.8px;
    height: 1.5px;
    background-color: $basic_color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 10;
    background-color: $main_theme_color;
    width: 100%;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  list-style: none;

  @include font ($main-header-size, $main-header-size, 500);

  @media (min-width: $tablet-width) {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 440px;

    @include font ($secondary-header-size, ceil(1.33 * $secondary-header-size), 400);
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
    max-width: 610px;

    @include font ($main-header-size, ceil(1.5 * $secondary-header-size), 400);
  }
}

.main-nav__item {
  z-index: 2;
  position: relative;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e6e6e6;
    min-height: 65px;
  }

  a {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding-top: 22px;
    padding-bottom: 24px;
    min-height: 65px;
    text-decoration: none;
    color: $basic_color;
    word-wrap: break-word;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      min-height: 76px;
      display: flex;
      align-items: flex-end;
      padding-top: 0;
      padding-bottom: 10px;
      margin-left: 32px;
    }

    @media (min-width: $desktop-width) {
      min-height: 112px;
      padding-bottom: 13px;
    }
  }

  &-index {
    a {
      @media (min-width: $desktop-width) {
        color: $main_theme_color;
      }
    }
  }

  &--active a {
    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 76px;
        left: 0;
        background-color: $background;

        @include size (100%, 2px);
      }

      @media (min-width: $desktop-width) {
        z-index: 2;
        content: "";
        position: absolute;
        top: 107px;
        left: 0;

        @include size (100%, 2px);
      }
    }
  }

  &--active-index {
    @media (max-width: $mobile-width-only) {
      border-top: 1px solid #e6e6e6;
    }

    a::before {
      @media (min-width: $desktop-width) {
        background-color: $main_theme_color;
      }
    }
  }
}
