.main-nav__list {
  padding: 0;
  margin: 0;
  font-size: 20 * $font-size;
  font-weight: 500;
  line-height: 20 * $line-height;
  text-transform: uppercase;
  list-style: none;
}

.main-nav__item {
  text-align: center;
}
