.page-main {
  background-color: $main_theme_color;
  min-width: 320px;
}

.page-main__container {
  position: relative;
}

.page-main__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 280px;
  width: 87.5%;
  padding-top: 27px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    min-width: 628px;
    width: 82%;
    padding-top: 65px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-top: 187px;
  }

  &--catalog {
    padding-bottom: 41px;

    @media (max-width: $mobile-width-only) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0%;
        left: 0%;
        background-color: $catalog-border-color;

        @include size (100%, 1px);
      }
    }

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      min-width: 708px;
      width: 92.2%;
      padding-bottom: 163px;
    }

    @media (min-width: $desktop-width) {
      width: 1220px;
      padding-top: 188px;
      padding-bottom: 165px;
    }
  }
}

.page-main__title {
  margin: 0;

  @include font ($secondary-title-size);

  @media (min-width: $tablet-width) {
    @include font ($big-title-size);
  }
}

.page-main__lead {
  margin: 0;
  width: 226px;
  margin-top: 37px;

  text-transform: uppercase;

  @include font ($main-size, ceil(1.28 * $main-size));

  @media (min-width: $tablet-width) {
    width: 323px;
    margin-top: 54px;
    padding-left: 1px;

    @include font ($title-size-smaller, ceil(1.5 * $title-size-smaller));
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    padding-left: 0;
  }
}
