.page-header {
  position: relative;
  min-width: 320px;
}

.page-header__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 320px;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    width: 92.2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    z-index: 3;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1220px;
  }
}

.page-header__logo {
  box-sizing: border-box;
  height: 65px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $page-header_border_color;
  }

  @media (min-width: $tablet-width) {
    display: block;
    min-width: 174px;
    padding: 0;

    @include size (174px, 52px);
  }

  @media (min-width: $desktop-width) {
    display: block;
    min-width: 202px;

    @include size (202px, 59px);
  }

  &--index {
    border-bottom: none;
  }
}

.page-header__logo-cat {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 20px;
  cursor: pointer;

  @include size (60px, 50px);

  @media (min-width: $tablet-width) {
    display: block;
    min-width: 174px;
    padding: 0;

    @include size (174px, 52px);
  }

  @media (min-width: $desktop-width) {
    display: block;
    min-width: 202px;

    @include size (202px, 59px);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--index {
    &:hover {
      opacity: 1;
      cursor: auto;
    }

    &:active {
      opacity: 1;
    }
  }

  // img {
  //   @include size (33.3px, 37.6px);

  //   @media (min-width: $tablet-width) {
  //     @include size (174px, 52px);
  //   }

  //   @media (min-width: $desktop-width) {
  //     @include size (202px, 59px);
  //   }
  // }
}

.page-header__logo-text {
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--index {
    &:hover {
      opacity: 1;
      cursor: auto;
    }

    &:active {
      opacity: 1;
    }
  }

  // img {
  //   @include size (101px, 18px);
  // }
}
