.page-footer {
  background-color: $background_special;
}

.page-footer__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 39px;
  padding-bottom: 22px;
}
