.page-main {
  background-color: $main_theme_color;
}

.page-main__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
}

.page-main__title {
  @include font ($secondary-title-size);
}

.page-main__lead {
  text-transform: uppercase;

  @include font ($main-size, ceil(1.28 * $main-size));
}
