$padding: 18px;

.targets__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

.targets__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.targets__item {
  padding: $padding;
  background-color: $background_special;

  &--slim {
    margin-bottom: 20px;
    background: $background_special url("../img/bg_cat-slim.png") no-repeat 22px 21px;
    background-size: 50px 53px;
  }

  &--fat {
    background: $background_special url("../img/bg_cat-fat.png") no-repeat 13px 24px;
    background-size: 67px 50px;
  }
}

.targets__title {
  margin: 0;
  margin-top: 12px;
  margin-left: 91px - $padding;

  text-transform: uppercase;

  @include font ($title-size, ceil(1.54 * $title-size));
}

.targets__description {
  margin: 0;
  margin-top: 29px;
  margin-left: 2px;
  margin-right: 33px - $padding;
  margin-bottom: 42px;

  color: $special_1_color;

  @include font ($main-size, ceil(1.28 * $main-size), 400, $text_font);
}

.targets__to-catalog {
  position: relative;
  margin-left: 1px;

  text-transform: uppercase;
  text-decoration: none;

  color: $basic_color;

  @include font ($secondary-main-size);

  &::after {
    content: "";
    position: absolute;
    left: 100px;
    top: 7px;

    background: url("../img/arrow.svg") no-repeat;
    background-size: 24px 12px;

    @include size (32px, 10px);
  }
}
