$basic_color: #000000;
$special_1_color: #444444;
$special_2_color: #222222;
$special_3_color: #111111;
$background: #68b738;
$example_background: #eaeaea;
$background_special: #f2f2f2;
$background_special_2: #ffffff;
$checkbox_color: #cdcdcd;
$checkbox_hover_color: #bababa;
$main_theme_color: #ffffff;
