@font-face {
  font-family: "oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}

$text_font: "Arial", sans-serif;
$basic_font: "oswald", "Arial", sans-serif;

//header
$main-header-size: 20px;
$secondary-header-size: 18px;

//main
$big-title-size: 60px;
$secondary-title-size: 36px;
$title-size: 24px;
$main-size: 14px;
$secondary-main-size: 16px;
$main-size-small: 12px;
