//color
$basic_color: #000000;
$special_1_color: #444444;
$special_2_color: #222222;
$special_3_color: #111111;
$background: #68b738;
$background_preview: rgba(104, 183, 56, 0.85);
$background_button: #5eaa2f;
$example_background: #eaeaea;
$background_special: #f2f2f2;
$button_special_1_color: rgba(255, 255, 255, 0.3);
$button_special_2_color: rgba(68, 68, 68, 0.3);
$checkbox_color: #cdcdcd;
$checkbox_hover_color: #bababa;
$main_theme_color: #ffffff;
$target_border_color: #d9d9d9;
$example_border_color: #e6e6e6;
$form-border-color: #e7e7e7;
$catalog-border-color: #ebebeb;
$page-header_border_color: #e6e6e6;
$invalid-color: #ff8282;


//fonts
$text_font: "Arial", sans-serif;
$basic_font: "oswald", "Arial", sans-serif;
//header
$main-header-size: 20px;
$secondary-header-size: 18px;
//main
$big-title-size: 60px;
$secondary-title-size: 36px;
$title-size: 24px;
$title-size-smaller: 20px;
$main-size: 14px;
$secondary-main-size: 16px;
$main-size-small: 12px;
$result-numbers-size: 30px;


// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
