.add__label {
  display: block;
  position: relative;
  padding-left: 46px;
  margin-bottom: 25px;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0%;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
  }
}

.add__input:checked + .add__label::before {
  background: url("../../../img/check.svg") no-repeat center;
}

.add__input:hover + .add__label::before {
  border: 1px solid #bababa;
}

.add__input:disabled + .add__label {
  opacity: 0.3;

  &::before {
    border: 1px solid #bababa;
  }
}

.add__input:focus + .add__label::before {
  border: 2px solid #444444;
}
